# Git ignore file
#
# Our process involves automatically comitting changes to the repository, so
# we use a whitelist-oriented .gitignore to ensure that inappropriate files
# are not added to the repository by accident.
#

*
!*/

# -----------------------------------------------------------------------------
# Blacklist

c000_orion/
c001_legend/
c002_chicago/
c003_viking/
c004_dragon/
c005_cipher/
c006_griffin/
c007_pinball/


# -----------------------------------------------------------------------------
# Whitelist

!.gitignore
