# .coveragerc to control coverage.py
[run]
source      = .
omit        = *_test.py
branch      = True
cover_pylib = False

[report]
# Regexes for lines to exclude from consideration
ignore_errors = True

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[html]
# TODO: FIGURE OUT A WAY OF SPECIFYING THIS FROM THE COMMAND LINE
directory = ./coverage_html

[xml]
# TODO: FIGURE OUT A WAY OF SPECIFYING THIS FROM THE COMMAND LINE
output = ./pytest_coverage.xml
