# Git ignore file
#
# Our process involves automatically comitting changes to the repository, so
# we use a whitelist-oriented .gitignore to ensure that inappropriate files
# are not added to the repository by accident.
#

*
!*/

# -----------------------------------------------------------------------------
# Blacklist


# -----------------------------------------------------------------------------
# Whitelist specific progam logic design document file types.


# -----------------------------------------------------------------------------
# Whitelist specific manually created YAML data file sub-types.


# -----------------------------------------------------------------------------
# Whitelist specific files

!.gitignore
