:root
{

    /*
    We use a white background with various shades
    of light grey to distinguish different areas
    from one another. In general, the area that is
    requesting the attention of the reader should
    be white, with other areas stepping back from
    the foreground by reducing the contrast and
    brightness with which they present themselves.
    */
    --rgb-bg:               #FFFFFF;
    --rgb-bg-shade-1:       #FBFBFB;
    --rgb-bg-shade-2:       #F7F7F7;
    --rgb-bg-shade-3:       #F3F3F3;
    --rgb-bg-shade-4:       #EFEFEF;
    --rgb-bg-shade-5:       #EBEBEB;

    /*
    We use a dark grey for rendering text, so the
    majority of it appears considerate and gentle
    rather than harsh and demanding. The use of
    darker shades towards black is reserved for
    those occasions when reader attention is
    required to be directed to key pieces of
    information. This should be limited as much
    as possible to actionable information rather
    than metadata or navigation. Lighter tints
    may also be used to deemphasisse text, for
    example footnotes, labels, or other
    contextual and non-actionable information.
    */
    --rgb-font-tint-1:      #606060;  /* Annotations, footnotes and labels. */
    --rgb-font:             #505050;  /* Text, including headings and other metadata */
    --rgb-font-shade-1:     #404040;
    --rgb-font-shade-2:     #303030;
    --rgb-font-shade-3:     #202020;
    --rgb-font-shade-4:     #101010;
    --rgb-font-shade-5:     #000000;  /* Items requiring reader attention and action */

    /*
    The primary brand colour represents integrity
    safety and security. It should be used to
    signal baselines, denominators etc. Nominal
    statuses should be displayed in this colour.
    */
    --rgb-main-tint-heavy:  #4493B5;
    --rgb-main-tint-light:  #2181AA;
    --rgb-main:             #066B97;
    --rgb-main-shade-light: #045578;
    --rgb-main-shade-heavy: #02425D;

    /*
    The secondary / accent brand colour represents
    life, growth and movement. It should be used
    to signal deltas, numerators etc... Warnings
    and alerts to the user should be displayed
    in this colour, and should be associated with
    situations where action is required.
    */
    --rgb-accent-tint:      #FF9927;
    --rgb-accent:           #F07F00;
    --rgb-accent-shade:     #BF6500;

}

html, body
{
  font-size:                medium;
  font-family:              Roboto Light;
  color:                    var(--rgb-font);
  background-color:         var(--rgb-bg);
}

body
{
  margin-top:               0em;
  margin-right:             0em;
  margin-left:              0em;
}

/* Hide the checkbox */
input.expand
{
    display:                none;
}

/* Basic item in collapsed state. */
div.item
{
  height:                   1.2em;
  width:                    auto;
  margin:                   0.1em 0.5em 0.1em 0.5em;
  padding:                  0.2em 0.1em 0.1em 1.1em;
  border-style:             solid;
  border-width:             1px 1px 1px 1px;
  border-radius:            0.6em;
  text-align:               top;
  text-align:               left;
  overflow:                 hidden;
  border-color:             var(--rgb-bg-shade-5);
}

div.item:hover
{
  background-color:         var(--rgb-accent);
}

/* Even Rows */
label:nth-of-type(even) > div.item
{
  background-color:         var(--rgb-bg-shade-1);
}

/* Odd Rows */
label:nth-of-type(odd) > div.item
{
  background-color:         var(--rgb-bg-shade-2);
}

/* Expanded */
input:checked + label > div.item
{
  height:                   auto;
  background-color:         var(--rgb-bg);
}
input:checked + label > div.item > div.idkey
{
  color:                    var(--rgb-font-shade-4);
}



/*  border-radius:            0.6em;
  background-color:         var(--rgb-accent);
  width:                    fit-content;
  margin:                   -0.1em -0.5em -0.1em -0.5em;
  padding:                  -0.2em -0.1em -0.1em -1.1em;
*/
/*  height:                   1.2em;
  transition:               height 0.2s;
  -webkit-transition:       height 0.2s;
  padding:                  0em 0em 0em 1em;
  border-style:             solid;
  border-width:             1px 1px 1px 1px;
  text-align:               top;
  text-align:               left;
  overflow:                 hidden;
}
*/
